<div class="d-flex flex-column ms-5">
  <div class="d-flex col-12">
    <h1 class="col-8"><%= @user.name %></h1>
    <div class="d-flex align-items-center col-4">
      <% if current_user == @user %>
        <%= link_to "ユーザー情報を編集する",edit_user_registration_path %>
      <% else %>
        <% if current_user.following?(@user) %>
          <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete %>
        <% else %>
          <%= link_to "フォローする", user_relationships_path(@user.id), method: :post %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="d-flex col-12">
    <p class="col-3">フォロー数: <%= @user.followings.count %></p>
    <p class="col-3">フォロワー数: <%= @user.followers.count %></p>
    <p class="col-3">今月で読んだ冊数: <%=  @current_month_reads.count %></p>
    <p class="col-3">今年読んだ本数: <%= @current_year_reads.count %></p>
  </div>
</div>
<div class="d-flex flex-wrap justify-content-center mt-2">
  <div class="col-12 col-md-6">
    <div class="card m-3">
      <div class="card-body">
        <h2 class="card-title">読んだ本一覧</h2>
        <% @books.each do |book| %>
          <div class="card mt-2">
            <div class="card-body d-flex flex-column justify-content-around">
              <div class="d-flex align-items-center">
                <p class="fs-4"><%= book.title %></p>
                <% if book.reading_at %>
                  <p class="ms-2">読み終わった日: <%= book.reading_at.strftime('%Y-%m-%d')%></p>
                <% end %>
              </div>
              <div class="d-flex justify-content-end">
                <%= link_to "投稿する", new_post_path(book_id: book.id) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <%= render partial: 'shared/posts', locals: { postsTitle: "直近の投稿",posts: @posts } %>
    <%= paginate @posts %>
  </div>
</div>
